@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap');

:root{
    --bg-Dark:#0C1018;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
    font-family: 'Nunito Sans' , sans-serif;
    font-weight: 400;
}